.DS_Store
node_modules
/dist
vue-demos-88b93-default-rtdb-entries-export.json

# local env files
.env.local
.env.*.local
.env

# jest env files
/tests/jest/setEnvVars.js

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
